.canvas {
  width: 100vw;
  height: 100vh;
  background: #161e2d;
}
.gui {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: flex;
  color: #161e2d;
  .button {
    margin-left: 10px;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    user-select: none; /* Standard */
    &:nth-child(1) {
      background: rgba(93, 115, 126, 1);
    }
    &:nth-child(2) {
      background: rgba(100, 182, 172, 1);
    }
    &:nth-child(3) {
      background: rgba(225, 85, 0, 1);
    }
    &:nth-child(4) {
      background: rgba(218, 255, 239, 1);
    }
    &.off {
      background: #909090;
    }
  }
}
